<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
    <!--page title-->
    <div th:replace="~{partials/title-meta :: title-meta('Submissions')}"></div>
</th:block>
<head>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="~{partials/page-title :: page-title('Submission','Test')}"></div>

    <!-- Danger Alert -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${msg_error}">
        <b th:text="${msg_error}">Dismissible danger Alert </b>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- Success Alert -->
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${msg_success}">
        <b th:text="${msg_success}"></b>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="flex-grow-1 me-3">
            <input class="form-control" type="text" id="search-box" placeholder="Search...">
        </div>
    </div>

    <!-- Hiển thị danh sách submissions -->
    <div th:each="testAttempt : ${testAttempts}" class="card mb-3">
        <div class="card-body">
            <h5 class="card-title" th:text="${testAttempt.testId.name}">Test Name</h5>
            <p class="card-text">
                <i class="fa-solid fa-user"></i>
                <span th:text="'Submitted by: ' + ${studentNames[testAttempt.id]}">Submitted by: student1</span>
            </p>
            <p class="card-text">
                <i class="fa-solid fa-clock"></i>
                <span th:text="'Submitted at: ' + ${@dateTimeFormatter.format(testAttempt.submittedAt, 'dd-MM-yyyy HH:mm')}">Submitted at: 01-01-2023 10:00</span>
            </p>
            <p class="card-text">
                <i class="fa-solid fa-check"></i>
                <span th:text="'Score: ' + ${testAttempt.totalScore}">Score: 85</span>
            </p>
            <a th:href="@{/admin/courses/{courseId}/tests/test/{testId}/submissions/{submissionId}(courseId=${courseId}, testId=${testId}, submissionId=${testAttempt.id})}"
               class="btn btn-primary">View Submission</a>
        </div>
    </div>

    <!--Pagination-->
    <div class="col-sm-6">
        <ul class="pagination pagination-separated justify-content-center justify-content-sm-end mb-sm-0">
            <!-- Nút Previous -->
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a th:href="@{/admin/courses/{courseId}/tests(courseId=${courseId}, page=${currentPage - 1})}" class="page-link">
                    <i class="mdi mdi-chevron-left"></i>
                </a>
            </li>

            <!-- Các số trang -->
            <li class="page-item" th:each="page : ${#numbers.sequence(1, totalPages)}" th:classappend="${page == currentPage} ? 'active'">
                <a th:href="@{/admin/courses/{courseId}/tests/test/{testId}/submissions(courseId=${courseId}, testId=${testId} page=${page})}" class="page-link" th:text="${page}"></a>
            </li>

            <!-- Nút Next -->
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a th:href="@{/admin/courses/{courseId}/tests/test/{testId}/submissions(courseId=${courseId}, testId=${testId},page=${currentPage + 1})}" class="page-link">
                    <i class="mdi mdi-chevron-right"></i>
                </a>
            </li>
        </ul>
    </div>

</div>
</body>
</html>