<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<th:block layout:fragment="pagetitle">
  <div th:replace="partials/title-meta :: title-meta('Create Course')"></div>
</th:block>

<head>
  <link th:href="@{/assets/libs/sweetalert2/sweetalert2.min.css}" rel="stylesheet" type="text/css" />
</head>

<body>
<div layout:fragment="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mt-n4 mx-n4 border-0">
        <div class="bg-soft-primary">
          <div class="card-body pb-0 px-4">
            <div class="row mb-3">
              <div class="col-md">
                <h4 class="fw-bold">Create New Course</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->

  <div class="row">
    <!-- Danger Alert -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${msg_error}">
      <b th:text="${msg_error}">Dismissible danger Alert </b>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- Success Alert -->
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${msg_success}">
      <b th:text="${msg_success}"></b>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form th:action="@{/admin/course/create}" th:object="${course}" method="post" enctype="multipart/form-data">

            <div class="row g-3">
              <div class="col-md-6">
                <label for="courseName" class="form-label">Name</label>
                <input type="text" th:field="*{name}" class="form-control" id="courseName" placeholder="Course Name" required>
              </div>
              <div class="col-md-6">
                <label for="courseCategory" class="form-label">Category</label>
                <select th:field="*{categoryId.id}" class="form-select" id="courseCategory" required>
                  <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="dateAdded" class="form-label">Date Added</label>
                <input type="datetime-local" th:field="*{dateAdded}" class="form-control" id="dateAdded" readonly value="Now"/>
              </div>
              <div class="col-md-3">
                <label for="dateStart" class="form-label">Start Date</label>
                <input type="datetime-local" th:field="*{dateStart}" class="form-control" id="dateStart"/>
              </div>
              <div class="col-md-3">
                <label for="dateEnd" class="form-label">End Date</label>
                <input type="datetime-local" th:field="*{dateEnd}" class="form-control" id="dateEnd"/>
              </div>
              <div class="col-md-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" th:field="*{price}"
                       class="form-control" id="price"/>
              </div>
              <div class="col-md-12">
                <label for="courseDescription" class="form-label">Description</label>
                <textarea th:field="*{description}" class="form-control" id="courseDescription" rows="10" placeholder="Course Description"></textarea>
              </div>
              <div class="col-md-3">
                <label for="createdByAdminId" class="form-label">Created By (Admin)</label>
                <input type="text" th:value="${#authentication.principal.user.username}"
                       class="form-control mt-3" id="createdByAdminId" readonly/>
              </div>
              <div class="col-md-3">
                <label for="courseImage" class="form-label">Image</label>
                <div class="mt-2">
                  <img th:if="*{image}" th:src="*{image}" id="courseImage"
                       alt="Course Image" class="img-thumbnail"
                       style="max-height: 100px;">
                </div>
                <input type="file" th:field="*{imageFile}" class="form-control mt-3"
                       id="imageFile" accept="image/*">
              </div>
            </div>
            <div class="col-12 text-end mt-3">
              <button type="submit" class="btn btn-primary">Save</button>
              <a th:href="@{/admin/courses}" class="btn btn-light ms-2">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>

<th:block layout:fragment="pagejs">
  <script th:src="@{/assets/libs/sweetalert2/sweetalert2.min.js}"></script>
</th:block>
</body>
</html>
